<h3>ingreso de productos con EJS</h3>
<br>
<form action="/productos" method="post">
    <div class="form-group">
        <label for="title">Producto</label>
        <input type="text" name="title" id="title" class="form-control">
    </div>
    <div class="form-group">
        <label for="price">Precio</label>
        <input type="number" name="price" id="price" class="form-control">
    </div>
    <div class="form-group">
        <label for="thumbnail">Imagen</label>
        <input type="text" name="thumbnail" id="thumbnail" class="form-control">
    </div>
    <input type="submit" value="Enviar" class="btn btn-success">
    <button><a href="/productos">Ir a Vistas</a></button>
</form>